@import 'tailwindcss';

@theme {
  --color-brand-black: #222222;
  --color-brand-gold: #c5a059;
  --color-brand-white: #ffffff;
  --color-brand-surface: #1a1a1a;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-brand-black);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.overlay-soft {
  background: linear-gradient(
    to bottom,
    rgba(17, 17, 17, 0.1),
    rgba(17, 17, 17, 0.6)
  );
}
